@using Connect.Agro.Models.Domain
@model List<Produce>
@{
    ViewData["Title"] = "Produtos";
}
<div class="view-actions-div">
    <div class="left-side-view-action"></div>
    <div class="right-side-view-action">
        <a class="register-button" asp-controller="Produce" asp-action="Register"> + Cadastrar Produto </a>
    </div>
</div>

<div class="row"></div>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Dias para crescer</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
            @if(Model.Any())
        {
            foreach(var produce in Model)
            {
                <tr>
                        <th scope="row">@produce.Id</th>
                        <td>@produce.Description</td>
                        <td>@produce.Price</td>
                        <td>@produce.DaysToGrow</td>
                        <td>
                            <div class="btn-group" role="group" >
                                <a role="button" class="btn btn-outline-primary" asp-route-id = "@produce.Id" asp-controller="Produce" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-outline-danger" asp-route-id="@produce.Id" asp-controller="Produce" asp-action="Delete">Excluir</a>
                            </div>
                        </td>
                    </tr>
            }
        }
        
    </tbody>
</table>



