@using Connect.Agro.Models.Domain
@model List<Sector>
@{
    ViewData["Title"] = "Setores";
}
<div class="view-actions-div">
    <div class="left-side-view-action"></div>
    <div class="right-side-view-action">
        <a class="register-button" asp-controller="Sector" asp-action="Register"> + Cadastrar Setor </a>
    </div>
</div>

<div class="row"></div>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Capacidade para plantações</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Any())
    {
        foreach(var sector in Model)
        {
            <tr>
                    <th scope="row">@sector.Id</th>
                    <td>@sector.Description </td>
                    <td>@sector.Capacity</td>
                    <td>
                        <div class="btn-group" role="group" >
                            <a role="button" class="btn btn-outline-primary" asp-route-id = "@sector.Id" asp-controller="Sector" asp-action="Edit">Editar</a>
                            <a role="button" class="btn btn-outline-danger" asp-route-id="@sector.Id" asp-controller="Sector" asp-action="Delete">Excluir</a>
                        </div>
                    </td>
                </tr>
        }
    }
    </tbody>
</table>



