@using Connect.Agro.Dll.src.Models.Dtos.Reports
@model List<PlantationReport>
@{
    ViewData["Title"] = "Plantações";
}
<div class="view-actions-div">
    <div class="left-side-view-action"></div>
    <div class="right-side-view-action">
        <a class="register-button" asp-controller="Plantation" asp-action="Register"> + Cadastrar Plantação </a>
    </div>
</div>

<div class="row"></div>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Produto</th>
            <th scope="col">Data de plantio</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Data estimada para colheita</th>
            <th scope="col">Setor</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>  
        @if(Model.Any())
    {
        foreach(var plantation in Model)
        {
            <tr>
                    <th scope="row">@plantation.Id</th>
                    <td>@plantation.ProductDescription </td>
                    <td>@plantation.Date</td>
                    <td>@plantation.Quantity</td>
                    <td>@plantation.ExpectedHarvestDate</td>
                    <td>@plantation.SectorDescription</td>
                    <td>
                        <div class="btn-group" role="group" >
                            <a role="button" class="btn btn-outline-primary" asp-route-id = "@plantation.Id" asp-controller="Plantation" asp-action="Edit">Editar</a>
                            <a role="button" class="btn btn-outline-danger" asp-route-id="@plantation.Id" asp-controller="Plantation" asp-action="Delete">Excluir</a>
                        </div>
                    </td>
                </tr>
        }
    }
    </tbody>
</table>



